html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: clamp(20px, 3.7vw, 24px);
  line-height: clamp(30px, 5.5vw, 42px);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  margin-left: -80px;
}

header p {
  font-size: clamp(36px, 7.5vw, 50px);
  line-height: clamp(46px, 9.5vw, 70px);
  font-weight: 700;
  text-align: center;
  order: 2;
}

header nav {
  order: 1;
  position: fixed;
  width: 94vw;
  top: 0;
  left: 0;
  padding: 15px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0px 5px 15px #222;
  color: white;
  z-index: 20;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  padding: 0 20px;
}

header i {
  font-size: 45px;
  padding: 3px 10px;
}

h1 {
  font-size: clamp(26px, 6vw, 40px);
}

.aside {
  background-color: #f5f5f5;
  position: fixed;
  top: 78px;
  left: 0;
  padding: 20px 40px;
  width: 100vw;
  height: 100vh;
  line-height: clamp(26px, 6vw, 38px);
  transition: transform 250ms ease-in-out;
}

aside ul {
  list-style-type: none;
}

.main-content {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 100px;
  margin-left: 15px;
}

footer {
  background-color: #222;
  color: white;
  width: 100vw;
  padding: 20px 80px;
  text-align: center;
  box-shadow: 0px -5px 15px #222;
  line-height: clamp(22px, 6vw, 34px);
}

footer p:nth-of-type(2) {
  font-size: clamp(16px, 3vw, 20px);
}

/* ----------------- SCREEN 960PX ------------------ */

@media screen and (min-width: 960px) {

  body {
    font-size: clamp(20px, 2.5vw, 24px);
    line-height: clamp(30px, 4.5vw, 36px);
  }

  .container {
    width: 90vw;
    margin-left: -3.5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .fas {
    display: none;
  }

  header p {
    display: block;
    width: 90vw;
  }

  header nav {
    width: 100vw;
    height: 100px;
  }

  nav ul {
    all: unset;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-left: -15px;
  }

  nav li {
    all: unset;
  }

  .aside {
    all: unset;
    width: 30vw;
    padding: 20px;
    background-color: #eee;
    border-left: 6px double black;
    order: 2;
  }

  .main-content {
    width: 50vw;
    order: 1;
    padding: 0 20px;
  }

  footer {
    order: 3;
  }

}

/* ----------------- SCREEN 1300PX ------------------ */

@media screen and (min-width: 1300px) {

 .aside {
   background-color: blanchedalmond;
 }

}
