html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.7em;
}

header {
  display: flex;
  flex-flow: column;
}

header p {
  font-size: 2.1em;
  font-weight: 700;
  margin: 120px 0 50px;
  text-align: center;
  line-height: 1.3em;
  order: 2;
}

header nav {
  order: 1;
  background-color: #222;
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 15px;
  height: 78px;
  box-shadow: 0px 5px 15px #222;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 0 20px;
}

header i {
  font-size: 2em;
  padding: 3px 10px;
}

h1 {
  font-size: 1.5em;
}

.aside-one {
  background-color: #f5f5f5;
  position: fixed;
  top: 78px;
  left: 0;
  padding: 20px 40px;
  width: 100vw;
  height: 100vh;
  line-height: 1.5em;
  transition: transform 250ms ease-in-out;
}

.aside-two {
  position: fixed;
  top: 580px;
  left: 0;
  padding: 20px 40px;
  z-index: 1;
  width: 100vw;
  line-height: 1.5em;
  transition: transform 250ms ease-in-out;
}

aside ul {
  list-style-type: none;
}

footer {
  background-color: #222;
  color: white;
  margin: 0 -30px;
  padding: 10px 30px;
  text-align: center;
  box-shadow: 0px -5px 15px #222;
  line-height: 1.1em;
}

footer h3 , footer p:nth-of-type(1) {
  font-size: 0.9em;
  
}

footer p:nth-of-type(2) {
  font-size: 0.7em;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1000px) {

.container {
  /* display: flex; */
}

.fas {
  display: none;
}

aside {
  order: -1;
  background-color: green;
}

.aside-one {
  all: unset;
}

.aside-two {
  all: unset;
}

nav {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  all: unset;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-left: -80px;
}

nav li {
  all: unset;
  padding-left: 70px;
}

}