.super-mario {
  position: absolute;
  width: 200px;
  z-index: 5;
  top: 120px;
}

.goomba {
  position: absolute;
  width: 100px;
  z-index: 6;
  top: 380px;
  left: 110px;
}

.baloon {
  position: absolute;
  z-index: 15;
  left: 250px;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 120px;
  left: 270px;
  z-index: 16;
}

.bowser {
  position: absolute;
  width: 400px;
  z-index: 9;
  top: 180px;
  left: 500px;
}