body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 18px;
}

.top__content, .form__content {
  width: 45%;
  margin: 0 auto;
}

.top__content {
  margin-top: 50px;
  margin-bottom: 30px;
}

.top__title {
  font-size: 36px;
  font-weight: 900;
}

.top__subtitle {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}

.form__content {
  /* background-color: #eee; */
  /* padding: 0 30px; */
  border-radius: 10px;
  /* margin-bottom: 200px; */
}

.form__fieldset {
  background-color: #eee;
  border: 2px solid #aaa;
  padding: 30px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  border-radius: 10px;
}

.form.personal, .form.job, .form.answer {
  margin-top: 0;
  margin-bottom: 50px;
  /* background-color: yellow; */
}

.form.buttons {
  margin-bottom: 200px;
}

.form__text, .form__select, .form__textarea {
  height: 40px;
  width: 97%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 7px 0 30px;
  padding: 0 10px;
}

.form__textarea {
  height: 150px;
  padding: 10px;
}

.form__submit {
  padding: 15px 60px;
  background-color: rgb(0, 119, 255);
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin: 0 10px;
  align-self: center;
  border-radius: 5px;
}

.form__submit:hover{
  background-color: rgb(45, 143, 255);
}

.form__buttons {
  display: flex;
  justify-content: center;
}

.answer__fields {
  padding: 15px 0;
}

.form.answer {
  /* visibility: hidden; */
  display: none;
}
/* section:nth-child(1) .form__fieldset :nth-child(3) :nth-child(2) {
  background-color: red;
} */

/* .fieldset div:nth-child(2) {
  background-color: yellowgreen;
} */
