* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div {
  width: 650px;
  height: 400px;
  border: 1px solid grey;
}

p {
  background-color: red;
  margin: 5px;
}

.teste {
  display: flex;
  flex-direction: row;
  align-items: stretch;
} */

.menu-cotainer {
  
}


