body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.list1 {
  text-align: center;
  color: white;
}

.list1-item {
  display: block;
  width: 40%;
  height: 150px;
}

.list1-item-first{
  background-color: orange;
}

.list1-item-second {
  background-color: lightgreen;
  margin-left: auto;
}

.list1-item-third {
  background-color: lightblue;
  margin: auto;
}

h3 {
  text-align: right;
  background-color: yellow;
}